.taks-time-block {
    font-family: Arial, sans-serif;
    line-height: 1.4;
}

.taks-time-block .time {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.2rem;
}

.taks-time-block .date {
    font-size: 1rem;
    margin-bottom: 0.2rem;
}

.taks-time-block .location {
    font-size: 1rem;
    margin-bottom: 0.2rem;
}